<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
    <% include ../partials/head.ejs %>
</head>
<body>
<!--    <menu>-->
<!--        <% include ../partials/menu.ejs%>-->
<!--    </menu>-->

    <main>
        <div id="main-display" class="container">
            <div class="container">
                <div>
                    <h1>HELLO,</h1>
                    <p id="about-short"> my name is Przemysław (Peter) and I am Front-end Developer </p>
                </div>
                <img id="my-photo" src="/content/photos/me.jpg">
            </div>
        </div>

        <div class="container">
            <div class="card">
                <i class="fas fa-info-circle prime-icon"></i>
                <div>
                    Informations about me, what I know and what I'm interested in.
                </div>
            </div>
            <div class="card">
                <i class="far fa-lightbulb prime-icon"></i>
                <div>
                    Projects I'm currently working on.
                </div>
            </div>
            <div class="card">
                <i class="far fa-address-card prime-icon"></i>
                <div>
                    Contact form.
                </div>
            </div>
        </div>
    </main>
</body>
</html>