<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scryt - Portfolio</title>

    <%- include ('partials/head.ejs') %>
</head>
<body>
    <nav class="main-container" id="menu">
        <%- include ('partials/menu.ejs') %>
    </nav>
    <div id="new_value"></div>
    <div class="main-container" id="about">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.

    </div>
    <div class="main-container" id="contact">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet architecto, atque distinctio earum excepturi fuga id illo ipsum iure laboriosam magni, neque nesciunt nobis nostrum placeat quibusdam repellendus.
    </div>
</body>
</html>