<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel='stylesheet' type='text/css' href='/styles/style.css'>
    <% include ../partials/head.ejs %>
</head>
<body>
    <nav>
        <% include ../partials/menu.ejs %>
    </nav>
</body>