/******************************************************************************/
/* GENERAL */
/******************************************************************************/
html {
    font-size: 20px;
    font-family: SansSerif, serif;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #0f2531;
    color: #CAD8DE;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    word-break: keep-all;
}

h1 {
    color: #F55C2B;
    text-align: center;
    margin: 0;
    font-size: 300%;
    font-weight: 300;
}

h2 {
    font-size: 200%;
    font-weight: 300;
}

a {
    text-decoration: none;
    text-underline: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 40px 0;
    border-bottom: 1px solid white;
}

/******************************************************************************/
/* TOP NAVIGATION BAR */
/******************************************************************************/

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #CAD8DE;
    z-index: 1;
    box-shadow: 1px 1px 3px 1px #CAD8DE;
    opacity: 0.8;
}

.menu-bar li a:link,
.menu-bar li a:visited,
.social-bar li a:link,
.social-bar li a:visited {
    display: inline-block;
    margin: 15px;
    color: #0f2531;
    text-transform: uppercase;
    font-weight: bold;
}

.social-bar li a:hover,
.menu-bar li a:hover {
    color: #F55C2B;
}

.social-bar,
.menu-bar {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.social-bar {
    justify-content: flex-start;
}

.menu-bar {
    justify-content: flex-end;
}

.nav-bar {
    width: 70%;
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
}

/******************************************************************************/
/* REUSABLE */
/******************************************************************************/

.container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
}


.card {
    text-align: center;
    height: auto;
    width: 33%;
    margin: 10px;
    padding: 15px;
}

.prime-icon {
    color: #F55C2B;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.social-icon {
    font-size: 25px
}

/******************************************************************************/
/* BUTTONS */
/******************************************************************************/

.btn-div {
    display: flex;
    justify-content: flex-start;
}

.btn:link,
.btn:visited {
    padding: 10px 15px;
    margin: 10px 0;
    font-weight: 300;
    color: #CAD8DE;
    max-width: 40%;
    text-decoration: none;
    border-radius: 100px;
    transition:
            background-color 0.2s,
            border 0.2s,
            color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #F55C2B;
    border: 1px solid #F55C2B;
    color: #CAD8DE;
}

.btn-transparent:link,
.btn-transparent:visited {

}

.btn:hover {
    background-color: #E33B11;
}

/******************************************************************************/

/******************************************************************************/

#main-display {
    width: 100%;
    background-image:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            #0f2531 ),
        url("/content/img/background.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 42vh;
}

#main-display div {
    align-items: center;
    justify-content: space-evenly;
}

#my-photo {
    width: 30%;
    height: auto;
    border-radius: 50%;
    opacity: 0.9;
}

#introduction {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}

#about {
    height: 60vw;
}